<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product List</title>
</head>
<body>

    <h2>Products</h2>
    <table  border="" class="table-dark">

<tr>
    <th>Name</th>
  <th> rate</th>
  <th> image</th>

    <th> </th>
</tr>
      {% for product in product %}
    <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.rate }}</td>
                <td>{{ product.image }}</td>
        <td>quantity</td>
        <td><input type="submit" name="button" id="button" class="btn btn-success" value="Add to cart" /></td>
           </tr>
       {% endfor %}
        <tr>

        </tr>
    </table>
</body>
</html>